.modal-main{
    color: #252B48;
font-size: 24px;
margin-bottom: 100px;
text-align: center;
background-color: white ;
padding: 50px;
border-radius: 8px;
border: 2px #252B48 solid;
position: fixed;
top: 10vh;
right: 25vw;
height: 50vh;
width: 40vw;
overflow-y: scroll;
}

.product-field{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}
.product-infos{
    font-size: small;
}